<div class="pd-20">
    <form action="{:U('Admin/Inlist/listUpdate','','')}" method="post" class="form form-horizontal" id="form-article-add">
        <div class="row cl">
            <label class="form-label col-2"><span class="c-red">*</span>领导班子集体责任：</label>
            <div class="formControls col-10">
                <input type="text" class="input-text" value="{$list['item']}" name="item">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-2">详细内容：</label>
            <input type="hidden" value="{$list['content']}" id="content">
            <div class="formControls col-10">
                <script name="content" id="editor" type="text/plain" style="width:100%;height:400px;"></script>
            </div>
        </div>
        <div class="row cl text-l">
            <div class="col-10 col-offset-2">
                <input type="hidden" name="oid" value="{$list['oid']}" />
                <input type="hidden" name="id" value="{$list['id']}" />
                <button  class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i>修改</button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>
</div>
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/layer/1.9.3/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/icheck/jquery.icheck.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/Validform/5.3.2/Validform.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/webuploader/0.1.5/webuploader.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/H-ui.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/H-ui.admin.js"></script>
<script type="text/javascript">
    $(function(){
        var content = $("#content").val();
        var ue = UE.getEditor('editor');
        $("#editor").html(content);
    });

</script>