 <div class="modal fade" tabindex="-1" role="dialog" id="lc1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">研提方案</h4>
      </div>
      <div class="modal-body">
       <h5>风险点</h5>
         <p>存在利用工程建设、物资采购谋取私利的风险</p>
       <h5>防控措施</h5>
          <p>严格执行廉洁自律各项规定，不以权谋私，不接受可能影响工作开展的宴请、财务或礼金</p>
          <h5>监督主体</h5>
          <p>分管领导</p>
          <h5>追责主体</h5>
          <p>支队纪委</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
 <!-----------------------------------------modal------------------------------------------------------->
  <div class="modal fade" tabindex="-1" role="dialog" id="gbpy">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">官兵监督</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label"><span class="red">*</span>姓名：</label>
    <div class="col-sm-9">
      <input type="text" class="form-control"  placeholder="">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-3 control-label"><span class="red">*</span>身份证/警官证：</label>
    <div class="col-sm-9">
      <input type="text" class="form-control"  placeholder="">
    </div>
  </div>
   <div class="form-group">
    <label for="inputPassword3" class="col-sm-3 control-label">电话：</label>
    <div class="col-sm-9">
      <input type="text" class="form-control"  placeholder="">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-3 control-label">内容：</label>
    <div class="col-sm-9">
     <textarea class="form-control" rows="3" placeholder=""></textarea>
    </div>
  </div>
  </form>
  
      </div>
      <div class="modal-footer">
       <button type="button" class="btn btn-success" data-dismiss="modal">提交</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
 <!-----------------------------------------modal------------------------------------------------------->
  <div class="modal fade" tabindex="-1" role="dialog" id="gbpy1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">官兵评议</h4>
      </div>
      <div class="modal-body">
      	<h5>感谢您的评议！</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<ol class="breadcrumb"> 

    <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span> <a href="index.html">首页</a></li>     
    <li class="active">作风评价</li> 
    
    
</ol>
<div class="container">
 
  <div class="row">
  	<div class="col-md-4 col-lg-3 menu">
    	<div class="panel panel-primary">
    <div class="panel-heading">
        选择人员
    </div>
    <div class="panel-body">
     
         <div class="panel-body">
       <volist name="qjdept" id="q">
      <a class="btn btn-link" role="button" type="button" data-toggle="collapse" data-target="#menu{$q['id']}">
           {$q['name']}
        </a>
        <div id="menu{$q['id']}" class="collapse">        
           <volist name="q['members']" id="m">
               <a class="btn btn-link aa" role="button" type="button" data-toggle="collapse" data-target="#menu01" href="{:U('Zfpj/zfpj',array('id'=>$m['id']),'')}" >
               	{$m['duty']}：{$m['name']}
            </a>  
           </volist>            
         </div>
         </volist>
                  
       </div>
        
        
    </div>
</div>
       
       
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 ">
        <div class="row zfpj1">  
         <h3>{$tobject['duty']}{$tobject['name']}作风评价 </h3>   
        <form name="form1" method="post" action="" >
             <table cellpadding="0" cellspacing="0" class="table  table-hover wz " >		
            <thead>
            <tr >
              
              <th width="10%" rowspan="2">类别</th>
              <th width="61%" rowspan="2">监督内容</th>
              <th colspan="4">官兵监督</th>
              </tr>
            <tr >
              <th>优</th>
              <th>良</th>
              <th>中</th>
              <th>差</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            <volist name="styleslist" id="styles">
            <td rowspan="{$styles['contents'] | count}" style="vertical-align:middle">{$styles['name']}</td>
            <td align="left">{$styles['contents'][0]['content']} </td>
            <td width="6%" rowspan="{$styles['contents'] | count}"  style="vertical-align:middle"><input type="radio" name="radio" id="radio" value="radio"  data-toggle="modal" data-target="#gbpy1"></td>
            <td width="6%" rowspan="{$styles['contents'] | count}"  style="vertical-align:middle"><input type="radio" name="radio" id="radio2" value="radio"  data-toggle="modal" data-target="#gbpy1"></td>
            <td width="6%" rowspan="{$styles['contents'] | count}"  style="vertical-align:middle"><input type="radio" name="radio" id="radio3" value="radio"  data-toggle="modal" data-target="#gbpy1"></td>
            <td width="6%" rowspan="{$styles['contents'] | count}"  style="vertical-align:middle"><input name="radio" type="radio" value=""  data-toggle="modal" data-target="#gbpy"></td>
            </tr>
            <volist name="styles['contents']" id="vo">
            	<if condition="$key gt 0">
            	 <tr>            
           		 	<td align="left"> {$vo['content']} </td>
            	</tr>
            	</if>
            </volist>
            </volist>                       
            </tbody>
            </table>
            
              <button type="submit" class="btn btn-primary">提 交</button>
            
       </form>

        </div>
      
    </div>
  </div>   
</div>

<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script> 
