{__NOLAYOUT__}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        li{
            list-style: none;
            width:200px;
            height:50px;
            -webkit-border-radius:5px;
            -moz-border-radius:5px;
            border-radius:5px;
            border:1px solid #ddd;
            float:left;
            text-align: center;
            line-height:50px;
            margin:3px;
        }
        a{
            text-decoration: none;
            line-height:1.5em;
            color:#333;
        }
    </style>
    <title>监督执纪问责监控平台</title>
</head>
<body>
    <ul>
        <li><a href="Admin">后台管理</a></li>
        <li><a href="Sjzxf">石家庄消防支队</a></li>
        <li><a href="Hdxf">邯郸消防支队</a></li>
        <li><a href="Hsxf">衡水消防支队</a></li>
        <li><a href="Qhdxf">秦皇岛消防支队</a></li>
        <li><a href="Tsxf">唐山消防支队</a></li>
        <li><a href="dxf">承德消防支队</a></li>
        <li><a href="zjkxf">张家口消防支队</a></li>
        <li><a href="dxf">保定消防支队</a></li>
        <li><a href="Xtxf">邢台消防支队</a></li>
        <li><a href="Czxf">沧州消防支队</a></li>
        <li><a href="Lfxf">廊坊消防支队</a></li>
        <li><a href="Jwj">警卫局</a></li>
        <li><a href="Sjzjwc">石家庄市警卫处</a></li>
        <li><a href="Qhdjwc">秦皇岛市警卫处</a></li>
        <li><a href="Bdjwc">保定市警卫处</a></li>
        <li><a href="Lfjwc">廊坊市警卫处</a></li>
        <li><a href="Zjkjwc">张家口市警卫处</a></li>
        <li><a href="Cdjwc">承德市警卫处</a></li>
        <li><a href="Czjwc">沧州市警卫处</a></li>
        <li><a href="Jwd">警卫队</a></li>
    </ul>
</body>
</html>