<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 主体责任 <span class="c-gray en">&gt;</span> 党委领导班子集体责任 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
    <div class="pd-15 radius lh-22 mb-5" style="background: #eee;">
        <h4><strong>党委领导班子集体责任清单</strong>&nbsp;<a class="btn btn-primary radius pl-10 pr-10 add" onclick="jtzr_add('添加集体责任','dw_jtzr_add.html')" href="javascript:;" >+</a></h4>
        <ul class="list lh-24" type="1">
            <li><a href="#" class="cur" onclick="javascript:">组织领导责任</a>&nbsp;&nbsp;<a title="修改" class="ml-5" onclick="jtzr_edit('修改','dw_jtzr_edit.html')" href="javascript:;"><img src="__PUBLIC__/admin/images/pen.png" width="12"/></a>&nbsp;<a title="删除" href="javascript:;" onclick="member_del(this,'1')" class="ml-5" style="text-decoration:none"><img src="images/delete.png" width="12"/></a></li>
            <li><a href="#" onclick="javascript:"> 选好用好干部</a>&nbsp;&nbsp;<a title="修改" class="ml-5" onclick="jtzr_edit('修改','dw_jtzr_edit.html')" href="javascript:;"><img src="__PUBLIC__/admin/images/pen.png" width="12"/></a>&nbsp;<a title="删除" href="javascript:;" onclick="member_del(this,'1')" class="ml-5" style="text-decoration:none"><img src="images/delete.png" width="12"/></a></li>
            <li><a href="#" onclick="javascript:"> 严明纪律规矩</a>&nbsp;&nbsp;<a title="修改" class="ml-5" onclick="jtzr_edit('修改','dw_jtzr_edit.html')" href="javascript:;"><img src="__PUBLIC__/admin/images/pen.png" width="12"/></a>&nbsp;<a title="删除" href="javascript:;" onclick="member_del(this,'1')" class="ml-5" style="text-decoration:none"><img src="images/delete.png" width="12"/></a></li>
            <li><a href="#"  onclick="javascript:">加强作风建设</a>&nbsp;&nbsp;<a title="修改" class="ml-5" onclick="jtzr_edit('修改','dw_jtzr_edit.html')" href="javascript:;"><img src="images/pen.png" width="12"/></a>&nbsp;<a title="删除" href="javascript:;" onclick="member_del(this,'1')" class="ml-5" style="text-decoration:none"><img src="images/delete.png" width="12"/></a></li>
            <li><a href="#"  onclick="javascript:"> 教育监督责任</a>&nbsp;&nbsp;<a title="修改" class="ml-5" onclick="jtzr_edit('修改','dw_jtzr_edit.html')" href="javascript:;"><img src="__PUBLIC__/admin/images/pen.png" width="12"/></a>&nbsp;<a title="删除" href="javascript:;" onclick="member_del(this,'1')" class="ml-5" style="text-decoration:none"><img src="images/delete.png" width="12"/></a></li>
            <li><a href="#" onclick="javascript:">健全制度体系</a>&nbsp;&nbsp;<a title="修改" class="ml-5" onclick="jtzr_edit('修改','dw_jtzr_edit.html')" href="javascript:;"><img src="__PUBLIC__/admin/images/pen.png" width="12"/></a>&nbsp;<a title="删除" href="javascript:;" onclick="member_del(this,'1')" class="ml-5" style="text-decoration:none"><img src="images/delete.png" width="12"/></a></li>
            <li><a href="#"  onclick="javascript:">规范权力责任</a>&nbsp;&nbsp;<a title="修改" class="ml-5" onclick="jtzr_edit('修改','dw_jtzr_edit.html')" href="javascript:;"><img src="__PUBLIC__/admin/images/pen.png" width="12"/></a>&nbsp;<a title="删除" href="javascript:;" onclick="member_del(this,'1')" class="ml-5" style="text-decoration:none"><img src="images/delete.png" width="12"/></a></li>
            <li><a href="#" onclick="javascript:"> 支持保障责任</a>&nbsp;&nbsp;<a title="修改" class="ml-5" onclick="jtzr_edit('修改','dw_jtzr_edit.html')" href="javascript:;"><img src="__PUBLIC__/admin/images/pen.png" width="12"/></a>&nbsp;<a title="删除" href="javascript:;" onclick="member_del(this,'1')" class="ml-5" style="text-decoration:none"><img src="images/delete.png" width="12"/></a></li>
        </ul>
        <div class="content l-24 pd-20 ">
            （1）及时传达贯彻落实中央、公安部、省厅和总队关于全面从严治党的部署要求，把党风廉政建设纳入支队年度工作总体布局，与中心工作同安排、同部署、同落实、同考核。每年召开会议专题部署全面从严治党工作。<br/>
            （2）研究制定年度党风廉政建设工作意见，制定工作计划、目标任务和具体措施。每季度分析研判党风廉政建设形势，及时解决重大问题。<br/>
            （3）军政主官是党风廉政建设第一责任人，班子其他成员协助军政主官对分管范围内的党风廉政建设负直接领导责任。<br/>
            （4）支队党委不少于2次专题研究党风廉政建设；年初签订《党风廉政建设责任状》，对年度工作任务进行责任分解，指导推动机关各部门和基层大、中队抓好党风廉政责任落实，落实责任考核和责任追究程序。<br/>
            （5）每半年对机关各部门和基层大、中队党风廉政建设工作进行考核，年底前向总队党委报告落实主体责任情况。<br/>
            （6）通过定期听取各大队工作汇报、派员参加大队党委民主生活会、约谈大队军政主官、责令做出书面检查等方式，掌握各大队党风廉政建设情况及其班子成员廉洁从政情况，督促大队党委落实主体责任。<br/>
            （7）健全完善党风廉政建设领导体制和工作机制，明确目标任务和责任分工，加强组织协调、工作指导和督促检查，形成齐抓共管的工作合力。<br/>
            （8）加强对支队各级党组织贯彻执行党风廉政建设责任制和领导班子成员履行“一岗双责”情况的监督检查，严格落实责任考核制度，确保责任到位、工作到位。
        </div>
    </div>

    <!--主体责任分解情况-->
    <div class="pd-15 radius lh-22" style="background: #eee;">
        <h4><strong>主体责任分解清单落实情况</strong>&nbsp;<a class="btn btn-primary radius pl-10 pr-10 add" onclick="jtzr_add('添加事项','dw_sx_add.html')" href="javascript:;" >+</a></h4>
    </div>
    <div class="cl pd-5 bg-1 bk-gray">
        <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius "><i class="Hui-iconfont"></i> 批量删除</a></span>
        <div class="text-r" style="float:right;">
            <label>责任主体：</label>
            <select name="finish" style="height: 29px;border:1px #ddd solid;">
                <option value="0">党委班子</option>
                <option value="1">党委书记</option>
                <option value="2">党委副书记</option>
                <option value="3">政治处主任</option>
            </select>
            <label>状态：</label>
            <select name="finish" style="height: 29px;border:1px #ddd solid;">
                <option value="0">全部</option>
                <option value="1">已完成</option>
                <option value="2">待完成</option>
                <option value="3">未完成</option>
            </select>
            日期范围：
            <input type="text"  id="logmin" class="input-text Wdate" style="width:120px;">
            -
            <input type="text" id="logmax" class="input-text Wdate" style="width:120px;">
            -

       <input type="text" name="" id="11" placeholder=" 关键词" style="width:180px" class="input-text">

                        <input type="text" name="" id="keywords" placeholder=" 关键词" style="width:180px" class="input-text">

                        <button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜事项</button>
                    </div>
                </div>
                <table class="table table-border table-bordered table-hover table-bg table-sort">
                    <thead>
                    <tr class="text-c">
                        <th width="35"><input type="checkbox" name="" value=""></th>
                        <th width="35">ID</th>
                        <th width="">落实事项</th>
                        <th width="80">责任主体</th>
                        <th width="90">开始时间</th>
                        <th width="90">完成时限</th>
                        <th width="90">履责情况</th>
                        <th width="70">完成情况</th>
                        <th width="50">预警提示</th>
                        <th width="80">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-c">
                        <td><input type="checkbox" value="1" name=""></td>
                        <td>1</td>
                        <td class="text-l">调整党风廉政建设领导小组</td>
                        <td>党委班子</td>
                        <td>2017-08-19</td>
                        <td>1月</td>
                        <td><a  onclick="jtzr_add('上传文件','dw_sx_edit2.html')" href="javascript:;" class="upload">上传文件</a></td>
                        <td>已完成</td>
                        <td class="va-m"><img src="images/greendot.png" /></td>
                        <td><a href="" title="显示到前台"><img src="images/eye1.ico"  width="12px" height="12px"/></a>&nbsp;&nbsp;<a title="修改" class="ml-5" onclick="jtzr_edit('编辑落实事项','dw_sx_edit.html')" href="javascript:;"><i class="Hui-iconfont">&#xe6df;</i></a>&nbsp;&nbsp;<a title="删除" href="javascript:;" onclick="member_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
                    </tr>
                    <tr class="text-c">
                        <td><input type="checkbox" value="1" name=""></td>
                        <td>2</td>
                        <td class="text-l">召开支队党委一届三次全会，传达公安部、省厅和总队全面从严治党要求，部署2017年度支队党风廉政建设工作任务</td>
                        <td>党委书记、党委副书记</td>
                        <td>2017-08-19</td>
                        <td>副团职干部选拔任用前</td>
                        <td><a  onclick="jtzr_add('上传文件','dw_sx_edit3.html')" href="javascript:;"  class="upload">上传文件</a></td>
                        <td>待完成</td>
                        <td><img src="images/reddot.png"/></td>
                        <td  title="不在前台显示"><img src="images/eye3.ico" width="12px" height="12px"/>&nbsp;&nbsp;<a title="修改" class="ml-5" onclick="jtzr_edit('编辑落实事项','dw_sx_edit.html')" href="javascript:;"><i class="Hui-iconfont">&#xe6df;</i></a>&nbsp;&nbsp;<a title="删除" href="javascript:;" onclick="member_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
                    </tr>
                    <tr class="text-c">
                        <td><input type="checkbox" value="1" name=""></td>
                        <td>3</td>
                        <td class="text-l">军政主官与机关各部门负责人、大队军政主官签订《2017年度党风廉政建设责任状》</td>
                        <td>政治处主任</td>
                        <td>2017-08-19</td>
                        <td>3月</td>
                        <td><a  onclick="jtzr_add('上传文件','dw_sx_edit3.html')" href="javascript:;"  class="upload">上传文件</a></td>
                        <td>未完成</td>
                        <td><img src="images/yellowdot.png" /></td>
                        <td  title="不在前台显示"><img  width="12px" height="12px" src="images/eye3.ico"/>&nbsp;&nbsp;<a title="修改" class="ml-5" onclick="jtzr_edit('编辑落实事项','dw_sx_edit.html')" href="javascript:;"><i class="Hui-iconfont">&#xe6df;</i></a>&nbsp;&nbsp;<a title="删除" href="javascript:;" onclick="member_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
                    </tr>
                    <tr class="text-c">
                        <td><input type="checkbox" value="1" name=""></td>
                        <td>4</td>
                        <td class="text-l">召开党委会总结2016年党风廉政建设工作，研究制定《支队2017年度党风廉政建设工作计划》，将任务分解到班子成员</td>
                        <td>党委班子</td>
                        <td>2017-08-19</td>
                        <td>3月</td>
                        <td><a  onclick="jtzr_add('上传文件','dw_sx_edit2.html')" href="javascript:;"  class="upload">上传文件</a></td>
                        <td>已完成</td>
                        <td class="va-m"><img src="images/greendot.png" /></td>
                        <td><a href="" title="显示到前台"><img src="images/eye1.ico"  width="12px" height="12px"/></a>&nbsp;&nbsp;<a title="修改" class="ml-5" onclick="jtzr_edit('编辑落实事项','dw_sx_edit.html')" href="javascript:;"><i class="Hui-iconfont">&#xe6df;</i></a>&nbsp;&nbsp;<a title="删除" href="javascript:;" onclick="member_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
                    </tr>
                    <tr class="text-c">
                        <td><input type="checkbox" value="1" name=""></td>
                        <td>5</td>
                        <td class="text-l">召开党委会听取上半年纪委工作汇报，推进部署下半年党风廉政建设工作</td>
                        <td>党委书记、党委副书记</td>
                        <td>2017-08-19</td>
                        <td>7月</td>
                        <td><a  onclick="jtzr_add('上传文件','dw_sx_edit2.html')" href="javascript:;"  class="upload">上传文件</a></td>
                        <td>已完成</td>
                        <td class="va-m"><img src="images/greendot.png" /></td>
                        <td><a href="" title="显示到前台"><img src="images/eye1.ico"  width="12px" height="12px"/></a>&nbsp;&nbsp;<a title="修改" class="ml-5" onclick="jtzr_edit('编辑落实事项','dw_sx_edit.html')" href="javascript:;"><i class="Hui-iconfont">&#xe6df;</i></a>&nbsp;&nbsp;<a title="删除" href="javascript:;" onclick="member_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
                    </tr>
                    <tr class="text-c">
                        <td><input type="checkbox" value="1" name=""></td>
                        <td>6</td>
                        <td class="text-l">召开第一季度部队党风廉政建设形势会</td>
                        <td>党委班子</td>
                        <td>2017-08-19</td>
                        <td>3月</td>
                        <td><a  onclick="jtzr_add('上传文件','dw_sx_edit2.html')" href="javascript:;"  class="upload">上传文件</a></td>
                        <td>已完成</td>
                        <td class="va-m"><img src="images/greendot.png" /></td>
                        <td><a href="" title="显示到前台"><img src="images/eye1.ico"  width="12px" height="12px"/></a>&nbsp;&nbsp;<a title="修改" class="ml-5" onclick="jtzr_edit('编辑落实事项','dw_sx_edit.html')" href="javascript:;"><i class="Hui-iconfont">&#xe6df;</i></a>&nbsp;&nbsp;<a title="删除" href="javascript:;" onclick="member_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
                    </tr>
                    <tr class="text-c">
                        <td><input type="checkbox" value="1" name=""></td>
                        <td>7</td>
                        <td class="text-l">召开第二季度部队党风廉政建设形势会</td>
                        <td>党委班子</td>
                        <td>2017-08-19</td>
                        <td>6月</td>
                        <td><a  onclick="jtzr_add('上传文件','dw_sx_edit2.html')" href="javascript:;"  class="upload">上传文件</a></td>
                        <td>已完成</td>
                        <td class="va-m"><img src="images/greendot.png" /></td>
                        <td><a href="" title="显示到前台"><img src="images/eye1.ico"  width="12px" height="12px"/></a>&nbsp;&nbsp;<a title="修改" class="ml-5" onclick="jtzr_edit('编辑落实事项','dw_sx_edit.html')" href="javascript:;"><i class="Hui-iconfont">&#xe6df;</i></a>&nbsp;&nbsp;<a title="删除" href="javascript:;" onclick="member_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
                    </tr>
                    <tr class="text-c">
                        <td><input type="checkbox" value="1" name=""></td>
                        <td>8</td>
                        <td class="text-l">	召开第三季度部队党风廉政建设形势会</td>
                        <td>党委班子</td>
                        <td>2017-08-19</td>
                        <td>9月</td>
                        <td><a  onclick="jtzr_add('上传文件','dw_sx_edit2.html')" href="javascript:;"  class="upload">上传文件</a></td>
                        <td>已完成</td>
                        <td class="va-m"><img src="images/greendot.png" /></td>
                        <td><a href="" title="显示到前台"><img src="images/eye1.ico"  width="12px" height="12px"/></a>&nbsp;&nbsp;<a title="修改" class="ml-5" onclick="jtzr_edit('编辑落实事项','dw_sx_edit.html')" href="javascript:;"><i class="Hui-iconfont">&#xe6df;</i></a>&nbsp;&nbsp;<a title="删除" href="javascript:;" onclick="member_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
                    </tr>
                    <tr class="text-c">
                        <td><input type="checkbox" value="1" name=""></td>
                        <td>9</td>
                        <td class="text-l">召开第四季度部队党风廉政建设形势会</td>
                        <td>党委班子</td>
                        <td>2017-08-19</td>
                        <td>12月</td>
                        <td><a  onclick="jtzr_add('上传文件','dw_sx_edit2.html')" href="javascript:;"  class="upload">上传文件</a></td>
                        <td>已完成</td>
                        <td class="va-m"><img src="images/greendot.png" /></td>
                        <td><a href="" title="显示到前台"><img src="images/eye1.ico"  width="12px" height="12px"/></a>&nbsp;&nbsp;<a title="修改" class="ml-5" onclick="jtzr_edit('编辑落实事项','dw_sx_edit.html')" href="javascript:;"><i class="Hui-iconfont">&#xe6df;</i></a>&nbsp;&nbsp;<a title="删除" href="javascript:;" onclick="member_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
                    </tr>
                    <tr class="text-c">
                        <td><input type="checkbox" value="1" name=""></td>
                        <td>10</td>
                        <td class="text-l">落实干部选拔任用纪实制度，对初始提名、资格审查、民主推荐、研究确定拟考察人选、组织考察、民主测评、公示情况等进行如实记录</td>
                        <td>政治处主任</td>
                        <td>2017-08-19</td>
                        <td>6月</td>
                        <td><a  onclick="jtzr_add('上传文件','dw_sx_edit2.html')" href="javascript:;"  class="upload">上传文件</a></td>
                        <td>已完成</td>
                        <td class="va-m"><img src="images/greendot.png" /></td>
                        <td><a href="" title="显示到前台"><img src="images/eye1.ico"  width="12px" height="12px"/></a>&nbsp;&nbsp;<a title="修改" class="ml-5" onclick="jtzr_edit('编辑落实事项','dw_sx_edit.html')" href="javascript:;"><i class="Hui-iconfont">&#xe6df;</i></a>&nbsp;&nbsp;<a title="删除" href="javascript:;" onclick="member_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-r mt-20">
                    <a class="radius bk-gray pd-10">上一页</a>
                    <a class="radius bk-gray pd-10" style="background:#0044CC;color:#fff;">1</a>
                    <a class="radius bk-gray pd-10">2</a>
                    <a class="radius bk-gray pd-10">3</a>
                    <a class="radius bk-gray pd-10">4</a>
                    <a class="radius bk-gray pd-10">5</a>
                    <a class="radius bk-gray pd-10">下一页</a>
                </div>
                <!--2017年党委主体责任落实统计-->
    <div class="pd-15 radius lh-22 mt-20" style="background: #eee;">
        <h4><strong>2017年党委主体责任落实统计</strong>
            <select name="finish" style="height: 29px;border:1px #ddd solid;">
                <option value="0">2017年</option>
                <option value="1">2016年</option>
                <option value="2">2015年</option>
                <option value="3">2014年</option>
            </select></h4>
        <div id="container" style="min-width:700px;height:400px"></div>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script>

<script type="text/javascript" src="__PUBLIC__/admin/lib/Validform/5.3.2/Validform.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/layer/1.9.3/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/icheck/jquery.icheck.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/H-ui.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/H-ui.admin.js"></script>
<!--饼形图-->
<script type="text/javascript" src="__PUBLIC__/admin/lib/Highcharts/4.1.7/js/highcharts.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/Highcharts/4.1.7/js/modules/exporting.js"></script>

<!--控制开始日期和结束日期-->
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/date.js"></script>

<script type="text/javascript">
    $(function(){
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });
        $.Huitab("#tab-system .tabBar span","#tab-system .tabCon","current","click","0");
    });

    /**
     * 上传文件处理
     */
    $(function () {
        $("a.upload").click(function(){

        });
    });

    /*饼形图*/
    $(function () {
        $('#container').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: '2017年党委主体责任落实统计'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#f0000',
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                    }
                }
            },
            series: [{
                type: 'pie',
                name: '2017年党委主体责任落实统计',
                data: [
                    {
                        name: '已完成',
                        y: 52,
                        color:'#698B22',
                        sliced: true,
                        selected: true
                    },
                    {
                        name: '未完成',
                        y: 17,
                        color:'#ff0000',
                        sliced: true,
                        selected: true
                    },
                    {
                        name: '待完成',
                        y: 31,
                        color:'#EE7621',
                        sliced: true,
                        selected: true
                    }
                ]
            }]
        });
    });
    /*集体责任-编辑*/
    function jtzr_edit(title,url){
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }
    /*用户-删除*/
    function member_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            $(obj).parents("li").remove();
            layer.msg('已删除!',{icon:1,time:1000});
        });
    }
    /*集体责任清单-添加*/
    function jtzr_add(title,url){
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }
</script>