
   
<ol class="breadcrumb"> 
   <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 list-inline">
    <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span> <a href="__ROOT__/index.php/sjzxf">首页</a></li>     
    <li class="active">新闻动态</li> 
    </div>
     <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 input-group ss">
      <input type="text" class="form-control" placeholder="请输入关键字">
      <span class="input-group-btn">
        <button class="btn btn-primary bc" type="button">搜索</button>
      </span>
    </div>
</ol>

<div class="container">    
	<div class="row">
	  <div class="col-lg-8 ">
      	<div class="row newslist">
           <div class=" col-xs-12 col-sm-12 col-md-4  col-lg-4">
             <img src="__PUBLIC__/images/news1.jpg" class="img-responsive" alt="Responsive image" />
           </div>
           <div  class=" col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <h4>邯郸支队召开省厅“两个会议”精神宣贯会</h1>
            <p>6月30日上午，邯郸支队在机关五楼召开会议，学习贯彻落实省厅优化权力运行监控机制建设会议和全省公安现役部队纪委书记培训班精神，部署有关工作。逯瑞彪支队长出席会议并作重要讲话...</p>
            <span>【作者：李小龙 出版日期：2015-06-09】</span><a href="newscontent.html" target="_blank" class="btn btn-danger pull-right"  value="">了解更多</a>
           </div>

         </div>
         
          <div class="row list">
               <ul >
                       <li ><a href="newscontent.html" target="_blank">邯郸支队召开省厅“两个会议”精神宣贯会<span class="pull-right">【2017-06-12】</span></a></li>
                       <li ><a href="newscontent.html" target="_blank">支队召开“一问责八清理”暨“微腐败”专项整治推进会<span class="pull-right">【2017-06-12】</span></a></li>
                       <li ><a href="newscontent.html" target="_blank">北京市公安局现役纪检监察室莅临支队调研权力运行监控机制建设工作<span class="pull-right">【2017-06-12】</span></a></li>
                       <li ><a href="newscontent.html" target="_blank">邯郸支队召开优化权力运行监控机制建设研讨会<span class="pull-right">【2017-06-12】</span></a></li>
                       <li ><a href="newscontent.html" target="_blank">驻厅纪检组组长于春海专题听取支队权力运行监控机制建设工作汇报<span class="pull-right">【2017-06-12】</span></a></li>
                       <li ><a href="newscontent.html" target="_blank">持续发力 久久为功 推动全面从严治党向纵深发展向基层延伸<span class="pull-right">【2017-06-12】</span></a></li>
                       <li ><a href="newscontent.html" target="_blank">持续发力 久久为功 推动全面从严治党向纵深发展向基层延伸<span class="pull-right">【2017-06-12】</span></a></li>
                       <li ><a href="newscontent.html" target="_blank">持续发力 久久为功 推动全面从严治党向纵深发展向基层延伸<span class="pull-right">【2017-06-12】</span></a></li>
                       <li ><a href="newscontent.html" target="_blank">持续发力 久久为功 推动全面从严治党向纵深发展向基层延伸<span class="pull-right">【2017-06-12】</span></a></li>
                       <li ><a href="newscontent.html" target="_blank">持续发力 久久为功 推动全面从严治党向纵深发展向基层延伸<span class="pull-right">【2017-06-12】</span></a></li>
               </ul>
                            <nav aria-label="Page navigation">
                              <ul class="pagination pull-right">
                                <li>
                                  <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                  </a>
                                </li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                  <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                  </a>
                                </li>
                              </ul>
                            </nav>

           </div>
         
      </div>
      
	  <div class="col-lg-4">
      
           <div class="col-lg-1"></div>
           <div class="col-lg-11">
          <div class="row icon">
                <div class="col-xs-6 col-sm-3 col-lg-6"><a href="ztzr.html" target="_blank"><img src="__PUBLIC__/images/ztzr.gif" class="img-responsive"></a></div>
                <div class="col-xs-6 col-sm-3 col-lg-6"><a href="jdzr.html" target="_blank"><img src="__PUBLIC__/images/jdzr.gif" class="img-responsive"></a></div>
                <div class="col-xs-6 col-sm-3 col-lg-6"><a href="qlyx.html" target="_blank"><img src="__PUBLIC__/images/qljk.gif" class="img-responsive"></a></div>
                <div class="col-xs-6 col-sm-3 col-lg-6"><a href="zjwz.html" target="_blank"><img src="__PUBLIC__/images/zjwz.gif" class="img-responsive"></a></div>
            </div>
            <div class="row icon">
            	<div class="col-xs-12 col-sm-6 col-lg-12"><a href="dwpj_zzd.html" target="_blank"><img src="__PUBLIC__/images/1.gif"  class="img-responsive"></a></div>
                <div class="col-xs-6 col-sm-3 col-lg-6 "><a href="zfpj_zzd.html" target="_blank"><img src="__PUBLIC__/images/2.gif"  class="img-responsive"></a></div>
                <div class="col-xs-6 col-sm-3 col-lg-6 "><a href="jwsj_zzd.html" target="_blank"><img src="__PUBLIC__/images/3.gif"  class="img-responsive"></a></div>
                <div class="col-xs-6 col-sm-3 col-lg-6 "><a href="tsjb_add_zzd.html" target="_blank"><img src="__PUBLIC__/images/4.gif"  class="img-responsive"></a></div>
                <div class="col-xs-6 col-sm-3 col-lg-6 "><a href="jyxc_zzd.html" target="_blank"><img src="__PUBLIC__/images/5.gif"  class="img-responsive"></a></div>
            </div>
         
           </div>
            
        </div>
    
          
    </div>
 </div>  
 

