<ol class="breadcrumb"> 
   
    <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span> <a href="__ROOT__/index.php/sjzxf">首页</a></li>     
    <li class="active">新闻动态</li>     
    
</ol>
<div class="container">
  <div class="row">
  	<article >
				<header>
					<h3>石家庄消防支队召开优化升级权力监控机制建设推进会</h3>
					<span class="wh">2017-07-18 10:20:23  </span><span class="wh">字体大小：<a href="#">大</a> <a href="#" class="now">中</a> <a href="#">小</a> </span>
				</header>
                <img src="__PUBLIC__/images/new.jpg" class="img-responsive lvimg">
				<p>
		        为深入贯彻落实全省公安现役部队优化升级权力监控机制建设推进会精神，持续深化全市消防部队权力监控机制建设成果，提升预防腐败工作建设水平，7月17日上午，石家庄消防支队召开了优化升级权力监控机制建设推进会，支队在家党委成员和支队全体官兵参加了会议。
</p>
<p>会上，李卫东副政委传达了省厅于春海组长、刘振东书记讲话精神，宣读了《石家庄市公安消防支队优化升级权力监控机制建设实施方案》，明确了责任分工、时间节点，对推进事项进行了安排部署。</p>
<p>魏广军支队长就进一步贯彻落实好优化升级权力监控机制建设工作，提出三点要求：一是高度重视，加强领导。各单位要将优化升级权力监控机制建设作为全面从严治党治警的重要举措，摆上党委议事日程，精心谋划部署，有力有序推进。各级党委要负起主体责任，党委正副书记是第一责任人，推动本单位各项工作任务落实。二是真抓实干，整体推进。各单位要切实把严实的作风要求贯彻到优化升级权力监控机制建设工作之中，军政主官要牢固树立“不抓是失职、抓不好是渎职”的意识，以务实的态度、务实的作风、务实的标准，全面领导，全力保障，全程问效，拧成一股劲，形成一盘棋，做到善始善终、善做善成。三是做好督导，强化问责。支队纪委要加强业务指导和督导检查，定期调度工作进展情况，研究解决工作中出现的问题。要进一步强化组织协调和监督检查，对工作不力、行动迟缓、未按要求实施的单位，予以通报批评，并按照有关规定进行问责追责。
通过召开优化升级权力监控机制建设推进会，支队全体官兵一定紧紧围绕省厅党委和驻厅纪检组“四项落实”、“监督执纪问责”、“四个怎么办”、“三问” 等要求认真推进优化升级权力监控机制建设，切实把思想和行动统一到厅党委和驻厅纪检组的决策部署上来，为优化升级权力监控机制建设奠定坚实的基础。

</p>



				
														</section>
														
													</article>
  
  </div>  
  <div class="row next">
  	<div class="col-sm-12 col-lg-6">上一篇：<a href="#">持续发力 久久为功 推动全面从严治党向...</a></div>
    <div class="col-sm-12 col-lg-6 ">下一篇：<a href="#">持续发力 久久为功 推动全面从严治党向...</a></div>
  </div>
</div>

 

