<div class="pd-20">
    <form action="{:U("update2","","")}" method="post" class="form form-horizontal" id="form-article-add">
        <div class="row cl">
            <label class="form-label col-1"><span class="c-red">*</span>主题：</label>
            <div class="formControls col-11">
                <input type="text" class="input-text" value="{$monitor['subject']}" name="subject">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-1">详细内容：</label>
            <input type="hidden"  value="{$monitor['content']}" id="content" />
            <div class="formControls col-11">
                <script id="editor" name="content"type="text/plain" style="width:100%;height:400px;"></script>

            </div>
        </div>
        <div class="row cl text-l">
            <div class="col-11 col-offset-1">
                <button  class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i>修改</button>
                <input type="hidden" value="{$monitor['id']}" name="id">
                <input type="hidden" value="{$oid}" name="oid">
                <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>
</div>
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/layer/1.9.3/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/icheck/jquery.icheck.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/Validform/5.3.2/Validform.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/webuploader/0.1.5/webuploader.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/H-ui.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/H-ui.admin.js"></script>
<script type="text/javascript">
    $(function(){
        var ue = UE.getEditor('editor');

        //如果主题和内容为空，则自动填充内容
        if(!$("input[name='id']").val()){
            $("input[name='subject']").val('四权监控');
            $("#editor").val('四权指：依法确权、规范配权、阳光晒权、全程控权；四权指：依法确权、规范配权、阳光晒权、全程控权；四权指：依法确权、规范配权、阳光晒权、全程控权；四权指：依法确权、规范配权、阳光晒权、全程控权；四权指：依法确权、规范配权、阳光晒权、全程控权；四权指：依法确权、规范配权、阳光晒权、全程控权；四权指：依法确权、规范配权、阳光晒权、全程控权；四权指：依法确权、规范配权、阳光晒权、全程控权；四权指：依法确权、规范配权、阳光晒权、全程控权；四权指：依法确权、规范配权、阳光晒权、全程控权；四权指：依法确权、规范配权、阳光晒权、全程控权；四权指：依法确权、规范配权、阳光晒权、全程控权；');
        }else{
            $("#editor").val($("#content").val());
        }
    });
</script>