<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户管理 <span class="c-gray en">&gt;</span> 权限 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
    <div class="cl pd-5 bg-1 bk-gray">
        <span class="l"><a href="javascript:;" class="btn btn-primary radius "><i class="Hui-iconfont"></i> 添加权限</a></span>
     </div>
    <table class="table table-border table-bordered table-hover table-bg">
        <thead>
        <tr>
            <th width="40" class="text-c">序号</th>
            <th width="100">所属模块</th>
            <th width="200">权限</th>
            <th width="300">权限路径</th>
            <th width="70" class="text-c">操作</th>
        </tr>
        </thead>
        <tbody>
        <volist name="menus" id="menu" key="k">
            <tr>
                <td class="text-c">{$k}</td>
                <td class="text-c"><input value="{$parent['title']}"class="input-text" disabled></td>
                <td class="text-c"></td>
                <td><input value="{$menu['title']}" type="text" class="input-text" disabled></td>
                <td><input value="{$menu['name']}" type="text" class="input-text" disabled></td>
                <td class="f-14 text-c"><a title="编辑" href="javascript:;" onclick="role_add('角色编辑','yhgl_js_edit.html','1')" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> &nbsp;&nbsp;<a title="删除" href="javascript:;" onclick="admin_role_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
            </tr>
        </volist>
        </tbody>
    </table>
</div>
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/layer/1.9.3/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/H-ui.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/H-ui.admin.js"></script>
<script type="text/javascript">
    /*管理员-角色-添加*/
    function admin_role_add(title,url,w,h){
        layer_show(title,url,w,h);
    }
    /*管理员-角色-编辑*/
    function admin_role_edit(title,url,id,w,h){
        layer_show(title,url,w,h);
    }
    /*管理员-角色-删除*/
    function admin_role_del(obj,id){
        layer.confirm('角色删除须谨慎，确认要删除吗？',function(index){
            //此处请求后台程序，下方是成功后的前台处理……


            $(obj).parents("tr").remove();
            layer.msg('已删除!',{icon:1,time:1000});
        });
    }

    function role_add(title,url){
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }
</script>