
  <!-----------------------------------------modal------------------------------------------------------->
  <div class="modal fade" tabindex="-1" role="dialog" id="lc1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">研提方案</h4>
      </div>
      <div class="modal-body">
       <h5>风险点</h5>
         <p>存在利用工程建设、物资采购谋取私利的风险</p>
       <h5>防控措施</h5>
          <p>严格执行廉洁自律各项规定，不以权谋私，不接受可能影响工作开展的宴请、财务或礼金</p>
          <h5>监督主体</h5>
          <p>分管领导</p>
          <h5>追责主体</h5>
          <p>支队纪委</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
 <!-----------------------------------------modal------------------------------------------------------->
 <div class="modal fade" tabindex="-1" role="dialog" id="yijiandu1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">文件列表</h4>
      </div>
      <div class="modal-body">
       <ul class="list-inline lvmodal">
            	
				<table cellpadding="0" cellspacing="0" class="table table-striped table-hover wz " >		
            <thead>
            <tr >
              <th width="6%">序号</th>
              
              <th width="25%">文件名称</th>
              <th width="15%">上传时间</th>
              <th width="10%">承办人</th>
              <th width="10%">履责内容</th>
              
              </tr>
            </thead>
            <tbody>
            <tr>
            <td>1</td>
            
            <td>XXXXX会议记录</td>
            <td>2017-06-23</td>
            <td>XXX</td>
            <td><a href="#">下载</a></td>
            </tr>
			<tr>
            <td>2</td>
            
            <td>XXXXX工作说明</td>
            <td>2017-06-23</td>
            <td>XXX</td>
            <td><a href="#">下载</a></td>
            </tr>
			
			
			
			
           
            </tbody>
            </table>
                
                
            </ul> 
  
      </div>
      <div class="modal-footer">
       
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div> <!-----------------------------------------modal------------------------------------------------------->
    <div class="modal fade" tabindex="-1" role="dialog" id="gbpy">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">官兵评议</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label"><span class="red">*</span>姓名：</label>
    <div class="col-sm-9">
      <input type="text" class="form-control"  placeholder="">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-3 control-label"><span class="red">*</span>身份证/警官证：</label>
    <div class="col-sm-9">
      <input type="text" class="form-control"  placeholder="">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-3 control-label">电话：</label>
    <div class="col-sm-9">
      <input type="text" class="form-control"  placeholder="">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-3 control-label">内容：</label>
    <div class="col-sm-9">
     <textarea class="form-control" rows="3" placeholder=""></textarea>
    </div>
  </div>
  </form>
  
      </div>
      <div class="modal-footer">
       <button type="button" class="btn btn-success" data-dismiss="modal">提交</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
  <!-----------------------------------------modal------------------------------------------------------->
    <div class="modal fade" tabindex="-1" role="dialog" id="gbpy1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">官兵评议</h4>
      </div>
      <div class="modal-body">
      	<h5>感谢您的评议！</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
  
    <ol class="breadcrumb"> 
   
    <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span> <a href="index.html">首页</a></li>     
    <li class="active">主体责任</li> 
    
    
</ol>
<div class="container">
 <h1 class="header">党委主体责任</h1>
  <div class="row">
  	<div class="col-md-4 col-lg-3 menu">
    	
        <div class="list-group">
          <a href="dw_jgt_zzd.html" target="_blank" class="list-group-item wyBiaoti qlyx1 zfpj" style="background-color:#7ebec8">
            	支队党委组织架构
            </a>
          <a href="ztzr.html" class="list-group-item active wyBiaoti qlyx1">
            党委领导班子集体责任
          </a>
          <a href="ztzr_1.html" class="list-group-item wyBiaoti qlyx1" style="margin-top:12px;letter-spacing:2px;">
            党委主要负责人责任
          </a> <a href="ztzr_r1.html" class="list-group-item ">
            党委书记: 
          </a>       
          <a href="ztzr_r2.html" class="list-group-item">党委副书记: 魏广军</a>
          <a href="ztzr_2.html" class="list-group-item qlyx1 wyBiaoti ">
            党委领导班子成员责任
          </a>
          <a href="ztzr_r3.html" class="list-group-item">党委常委: 由广东</a>
          <a href="ztzr_r4.html" class="list-group-item">党委常委: 曹宇</a>
           <a href="ztzr_r5.html" class="list-group-item">党委常委: 李卫东</a>
            <a href="ztzr_r6.html" class="list-group-item">党委常委: 刘志国</a>
             <a href="ztzr_r7.html" class="list-group-item">党委常委: 兰森</a>
              <a href="ztzr_r8.html" class="list-group-item">党委常委: 李永刚</a>
             <a href="ztzr_r9.html" class="list-group-item">党委常委: 张永辉</a>
             <a href="ztzr_r10.html" class="list-group-item">党委常委: 白凤东</a>
        </div>
        
        
       
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 ztzr">
    	<div class="row ztlist">
          
        	<h2>党委领导班子集体责任清单</h2>
            <ul class="list-inline">
            	<li><a href="ztzr_c1.html">1、组织领导责任</a> </li>
                <li><a href="ztzr_c2.html">2、选好用好干部</a></li> 
                <li><a href="ztzr_c3.html" class="now">3、严明纪律规矩</a></li>
                <li><a href="#">4、加强作风建设</a></li>
                <li><a href="#">5、教育监督责任</a></li>
                <li><a href="#">6、健全制度体系</a></li>
                <li><a href="#">7、规范权力责任</a></li>
               <li><a href="#">8、支持保障责任</a></li>
            </ul>
         
           
        </div>
        <div class="row lslc" style="display:block;padding-top:10px">
          
          <p style="background-color:#72a3d8"> （1）严明政治纪律，加强对支队官兵政治纪律和政治规矩执行情况的监督检查，增强官兵的纪律意识和规矩意识。</br>
（2）落实中央军委《严格军队党员领导干部纪律约束的若干规定》、《关于新形势下深入推进依法治军从严治军的决定》和部消防局《从严治警十条禁令》、总队廉洁自律“九个严禁”。</br>
（3）严肃党内政治生活，支队党委班子成员坚持以普通党员身份参加所在基层党组织的组织生活和民主评议，经常开展批评与自我批评。</br>
（4）牢固树立“四个意识”，在思想和行动上不断向党中央看齐，保证党的路线方针政策得到贯彻落实，维护党的团结统一。



</p>
        </div>
        <div class="row lslc">
        	<h2>落实流程</h2>
             <ul class="list-inline">
            	<li class="kk">组织领导责任 </li>
                <li><img src="images/lc.png" width="30" height="30" align="absmiddle"> <a href="#lc1" data-toggle="modal">研提方案 </a></li>
                <li><img src="images/lc.png" width="30" height="30" align="absmiddle"> <a href="#">集体讨论 </a></li>
                <li><img src="images/lc.png" width="30" height="30" align="absmiddle"> <a href="#">组织实施 </a></li>
             
            </ul>
        </div>
        <div class="row lsqk">
           <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        	<h2> 主体责任分解清单落实情况</h2>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-5 col-lg-6  sx ">
                <div class="btn-group ">
                  <button type="button" class="btn btn-default">2017年</button>
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu">                  
                    <li><a href="#">2016年</a></li>
                    <li><a href="#">2015年</a></li>         
                    <li><a href="#">2014年</a></li>
                  </ul>
                </div>    
                <div class="btn-group ">
                  <button type="button" class="btn btn-default">开始月份</button>
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu">                  
                    <li><a href="#">1月</a></li>
                    <li><a href="#">2月</a></li>         
                    <li><a href="#">3月</a></li>
                  </ul>
                </div>    
                
                <div class="btn-group ">
                  <button type="button" class="btn btn-default">结束月份</button>
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">1月</a></li>
                    <li><a href="#">2月</a></li>
                    <li><a href="#">3月</a></li>         
                    <li><a href="#">4月</a></li>
                  </ul>
                </div> 
                <div class="btn-group ">
                  <button type="button" class="btn btn-default">完成情况</button>
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">已完成</a></li>
                    <li><a href="#">待完成</a></li>
                    <li><a href="#">未完成</a></li>
                  </ul>
                </div>        
               
          </div>
          <div class="col-xs-12 col-sm-2 col-md-3 col-lg-2 sx">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="请输入关键字">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button">搜索</button>
              </span>
            </div>
          </div>
          <div class="col-lg-12">
             <table cellpadding="0" cellspacing="0" class="table table-striped table-hover wz " >		
            <thead>
            <tr >
              <th width="6%">序号</th>
              <th width="30%">落实事项</th>
              <th width="10%">责任主体</th>
              <th width="10%">完成时限</th>
              <th width="10%">履责情况</th>
              <th width="9%">完成情况</th>
              <th width="9%">预警提示</th>
              </tr>
            </thead>
            <tbody>
            <tr>
            <td>1</td>
            <td>调整党风廉政建设领导小组</td>
            
            
            <td>党委班子</td>
            <td>1月</td>
            <td><a href="#" data-toggle="modal" data-target="#yijiandu1" >文件下载</a></td>
            <td>已完成</td>
            <td><img src="images/greendot.png"  class="img-responsive lvimgshuom"/></td>
            </tr>
            <tr>
           <td>2</td>
            
            <td>召开支队党委一届三次全会，传达公安部、省厅和总队全面从严治党要求，部署2017年度支队党风廉政建设工作任务</td>
            
             
            <td>党委班子</td>
            <td>3月</td>
            <td><a href="#" data-toggle="modal" data-target="#yijiandu1" >文件下载</a></td>
            <td >已完成</td>
            <td><img src="images/greendot.png"  class="img-responsive lvimgshuom"/></td>
            </tr>
            <tr>
            <td>3</td>
            
            <td>军政主官与机关各部门负责人、大队军政主官签订《2017年度党风廉政建设责任状》</td>
            
            
            <td>党委书记、党委副书记</td>
            <td>3月</td>
            <td><a href="#" data-toggle="modal" data-target="#yijiandu1" >文件下载</a></td>
            <td>未完成</td>
            <td><img src="images/reddot.png"  class="img-responsive lvimgshuom"/></td>
            </tr>
            <tr>
              <td>4</td>
              
              <td>召开党委会总结2016年党风廉政建设工作，研究制定《支队2017年度党风廉政建设工作计划》，将任务分解到班子成员</td>
              
              
              <td>党委班子</td>
              <td>1月</td>
              <td><a href="#" data-toggle="modal" data-target="#yijiandu1" >文件下载</a></td>
              <td>已完成</td>
            <td><img src="images/greendot.png"  class="img-responsive lvimgshuom"/></td>
            </tr>
            <tr>
              <td>5</td>
              
              <td>召开党委会听取上半年纪委工作汇报，推进部署下半年党风廉政建设工作</td>
              
              
              <td>党委书记、党委副书记</td>
              <td>7月</td>
              <td><a href="#" data-toggle="modal" data-target="#yijiandu1" >文件下载</a></td>
              <td>未完成</td>
            <td><img src="images/reddot.png"  class="img-responsive lvimgshuom"/></td>
            </tr>
            <tr>
              <td>6</td>
              
              <td>召开第一季度部队党风廉政建设形势会</td>
              
              
              <td>党委班子</td>
              <td>3月</td>
              <td><a href="#" data-toggle="modal" data-target="#yijiandu1" >文件下载</a></td>
              <td>已完成</td>
            <td><img src="images/greendot.png"  class="img-responsive lvimgshuom"/></td>
            </tr>
            <tr>
              <td>7</td>
              
              <td>召开第二季度部队党风廉政建设形势会</td>
              
              
              <td>党委班子</td>
              <td>6月</td>
              <td><a href="#" data-toggle="modal" data-target="#yijiandu1" >文件下载</a></td>
              <td>已完成</td>
            <td><img src="images/greendot.png"  class="img-responsive lvimgshuom"/></td>
            </td>
            </tr>
            <tr>
              <td>8</td>
              
              <td>召开第三季度部队党风廉政建设形势会</td>
              
              
              <td>党委班子</td>
              <td>9月</td>
              <td><a href="#" data-toggle="modal" data-target="#yijiandu1" >文件下载</a></td>
              <td>待完成</td>
            <td><img src="images/yellowdot.png"  class="img-responsive lvimgshuom"/></td>
            </td>
            </tr>
            <tr>
              <td>9</td>
              
              <td>召开第四季度部队党风廉政建设形势会</td>
             
              
              <td>党委班子</td>
              <td>12月</td>
              <td><a href="#" data-toggle="modal" data-target="#yijiandu1" >文件下载</a></td>
              <td>待完成</td>
            <td><img src="images/yellowdot.png"  class="img-responsive lvimgshuom"/></td>
            </td>
            </tr>
            
            <tr>
              <td>10</td>
              
              <td>落实干部选拔任用纪实制度，对初始提名、资格审查、民主推荐、研究确定拟考察人选、组织考察、民主测评、公示情况等进行如实记录</td>
              
              
              <td>政治处主任</td>
              <td>6月</td>
              <td><a href="#" data-toggle="modal" data-target="#yijiandu1" >文件下载</a></td>
              <td>已完成</td>
            <td><img src="images/greendot.png"  class="img-responsive lvimgshuom"/></td>
            </td>
            </tr>
            </tbody>
            </table>
            <div class="lvshuoming">
               <img src="images/reddot.png"  class="img-responsive lvimgshuom1"/>未完成
               <img src="images/greendot.png"  class="img-responsive lvimgshuom1"/>已完成
               <img src="images/yellowdot.png"  class="img-responsive lvimgshuom1"/>待完成
            </div>
             <nav aria-label="Page navigation">
                              <ul class="pagination pull-right">
                                <li>
                                  <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                  </a>
                                </li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                  <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                  </a>
                                </li>
                              </ul>
                            </nav>
        </div>
        </div>
        <div class="row lsfx">
        	
            <div class="col-lg-12">
                   <h5>2017年党委主体责任落实统计<div class="btn-group pull-right">
                  <button type="button" class="btn btn-default btn-sm">2017年</button>
                  <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu">                  
                    <li><a href="#">2016年</a></li>
                    <li><a href="#">2015年</a></li>         
                    <li><a href="#">2014年</a></li>
                  </ul>
                  
            </div></h5>
            
            	
            <img src="images/image_3.jpg"  alt="" class="img-responsive" /> 
             </div>
        </div>
    </div>
  </div>   
</div>
  

