  <!-----------------------------------------modal------------------------------------------------------->
  <div class="modal fade" tabindex="-1" role="dialog" id="lc1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">研提方案</h4>
      </div>
      <div class="modal-body">
       <h5>风险点</h5>
         <p>存在利用工程建设、物资采购谋取私利的风险</p>
       <h5>防控措施</h5>
          <p>严格执行廉洁自律各项规定，不以权谋私，不接受可能影响工作开展的宴请、财务或礼金</p>
          <h5>监督主体</h5>
          <p>分管领导</p>
          <h5>追责主体</h5>
          <p>支队纪委</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
 <!-----------------------------------------modal------------------------------------------------------->
  <!-----------------------------------------modal------------------------------------------------------->
  <div class="modal fade" tabindex="-1" role="dialog" id="gbpy">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">组织领导责任</h4>
      </div>
      <div class="modal-body">
      	<ul class="list-inline lvmodal">
        	<li>1、把党风廉政建设和反腐败工作纳入年度工作总体布局，与中心工作同安排、同部署、同落实、同考核，下发年度党风廉政建设工作意见。</li>
       		<li>2、每年召开专题研究党风廉政建设的党委会和廉政建设工作会议分别不少于2次、1次，定期听取工作汇报；年初签订《党风廉政建设责任状》，抓对年度工作任务进行责任分解，指导推动各单位、部门抓好反腐倡廉责任落实；每季度分析1次部队廉政建设形势，研究制定工作对策。</li>
			<li>3、每半年对各部门和单位党风廉政建设工作进行考核，每年年底前向上级党委和上级纪委报告落实主体责任情况。</li>
			<li>4、通过定期听取各大队工作汇报、派员参加大队党委民主生活会、约谈下级部队主官、责令作出书面检查等方式，掌握各大队党风廉政建设情况及其班子成员廉洁从政情况，督促大队党委落实主体责任。</li>

          
        </ul>
      </div>
      <div class="modal-footer">
       
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>        
      </div>
  </div>
  </form>
  
      </div>
      <div class="modal-footer">
       <button type="button" class="btn btn-success" data-dismiss="modal">提交</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
  <!-----------------------------------------modal------------------------------------------------------->
    <div class="modal fade" tabindex="-1" role="dialog" id="gbpy1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">官兵评议</h4>
      </div>
      <div class="modal-body">
      	<h5>感谢您的评议！</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
  

   
    <ol class="breadcrumb"> 
   
    <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span> <a href="__ROOT__/index.php/sjzxf">首页</a></li>     
    <li class="active">主体责任</li> 
    
    
</ol>
<div class="container">
 <h1 class="header">党委主体责任</h1>
  <div class="row">
  	<div class="col-md-4 col-lg-3 menu">
    	
        <div class="list-group">
          <a href="dw_jgt_zzd.html" target="_blank" class="list-group-item wyBiaoti qlyx1 zfpj" style="background-color:#7ebec8">
              支队党委组织架构
            </a>    
         <a href="__URL__/ztzr" class="list-group-item wyBiaoti qlyx1">
            党委领导班子集体责任
          </a>
          <a href="__URL__/ztzr_1" class="list-group-item active wyBiaoti qlyx1" style="margin-top:12px;letter-spacing:2px;">
            党委主要负责人责任
          </a> <a href="__URL__/ztzr_r/who/{$dwsj.id}" class="list-group-item ">
            党委书记: {$dwsj.name}
          </a>       
          <a href="__URL__/ztzr_r/who/{$dwfsj.id}" class="list-group-item">党委副书记: {$dwfsj.name}</a>
          <a href="__URL__/ztzr_2" class="list-group-item qlyx1 wyBiaoti ">
            党委领导班子成员责任
          </a>
          <volist name="dwwy" id="m">
            <a href="__URL__/ztzr_r/who/{$m.id}" class="list-group-item">党委常委: {$m.name}</a>
          </volist>
        </div>
        
        
       
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 ztzr">
    	<div class="row ztlist" style="padding-left:0">
          
        	<h2 class="wyh2">党委主要负责人责任清单</h2>
            <div class="lslc wyC1">
          		<p>  {$list['content']}		</p>
        	</div>
         
           
        </div>
       
       
        
    </div>
  </div>   
</div>
  