
  <!-----------------------------------------modal------------------------------------------------------->
  <div class="modal fade" tabindex="-1" role="dialog" id="lc1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">四种形态统计</h4>
      </div>
      
		
      <div class="modal-body">
      <ul class="list-inline lvmodal">
      	<table cellpadding="0" cellspacing="0" class="table table-striped table-hover wz " >		
		<thead>
		<tr >
		  <th width="10%">序号</th>
		  <th width="12%">姓名</th>
		  <th width="12%">职务</th>
		  <th width="51%">涉及问题</th>
		  <th width="15%">处置情形</th>
		  </tr>
		</thead>
		<tbody>
		<tr>
		<td>2</td>
        <td>xxx</td>
        <td>xxx</td>
		<td>开发区大队XXX等同志值班备勤期间擅离岗位</td>
		<td>第一种形态</td>
		</tr>
		<tr>
		<td>3</td>
        <td>xxx</td>
        <td>xxx</td>
		<td>开发区大队XXX等同志值班备勤期间擅离岗位</td>
		<td>第一种形态</td>
		</tr>
		<tr>
		  <td>4</td>
        <td>xxx</td>
        <td>xxx</td>
		<td>开发区大队XXX等同志值班备勤期间擅离岗位</td>
		<td>第一种形态</td>
		  </tr>
		<tr>
		  <td>5</td>
        <td>xxx</td>
        <td>xxx</td>
		<td>开发区大队XXX等同志值班备勤期间擅离岗位</td>
		<td>第一种形态</td>
		  </tr>
		<tr>
		 <td>1</td>
        <td>xxx</td>
        <td>xxx</td>
		<td>开发区大队XXX等同志值班备勤期间擅离岗位</td>
		<td>第一种形态</td>
		  </tr>
		<tr>
        </tbody>
        </table>
      </ul>
      <img src="images/bt.png" class="img-responsive"> </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
 <!-----------------------------------------modal------------------------------------------------------->
 
  

   <ol class="breadcrumb"> 
   
    <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span> <a href="index.html">首页</a></li>     
    <li class="active">执纪问责</li> 
    
    
</ol>
<div class="container">
 <h1 class="header">执纪问责</h1>
  <div class="row">
   
  	<div class="col-md-4 col-lg-3 menu">
    <!--    <div class="panel panel-primary">
    <div class="panel-heading">
        &nbsp;
    </div>
    <div class="panel-body">
      <a class="btn btn-link" role="button" type="button"  style="font-size:24px" href="zjwz_szxttj.html">
            四种形态统计
        </a><a class="btn btn-link"  role="button" type="button" data-toggle="collapse" data-target="#menu0" style="font-size:24px">
            第一种形态&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>

        </a>
        <div id="menu0" class="collapse">
         
           
               <a class="btn btn-link aa" role="button" type="button" data-toggle="collapse" data-target="#menu01" href="zjwz_01.html" >
               谈话提醒
            </a>  
             <a class="btn btn-link aa" role="button" type="button" data-toggle="collapse" data-target="#menu01" href="zjwz_02.html" >
               警示谈话
            </a>  
                 <a class="btn btn-link aa" role="button" type="button" data-toggle="collapse" data-target="#menu01" href="zjwz_03.html">
               批评教育
            </a> 
             
            <a class="btn btn-link aa" role="button" type="button" data-toggle="collapse" data-target="#menu01" href="zjwz_04.html" >
               纠正或责令停止违纪行为
            </a>
            <a class="btn btn-link aa" role="button" type="button" data-toggle="collapse" data-target="#menu01" href="zjwz_05.html" >
               责成退缴违纪所得
            </a>
            <a class="btn btn-link aa" role="button" type="button" data-toggle="collapse" data-target="#menu01" href="zjwz_06.html" >
               限期整改
            </a>
            <a class="btn btn-link aa" role="button" type="button" data-toggle="collapse" data-target="#menu01" href="zjwz_07.html" >
               责令作出口头或书面检查
            </a>
            <a class="btn btn-link aa" role="button" type="button" data-toggle="collapse" data-target="#menu01" href="zjwz_08.html" >
               召开民主生活会批评帮助
            </a>
            <a class="btn btn-link aa" role="button" type="button" data-toggle="collapse" data-target="#menu01" href="zjwz_09.html" >
               责令公开道歉或检讨
            </a>
            <a class="btn btn-link aa" role="button" type="button" data-toggle="collapse" data-target="#menu01" href="zjwz_010.html" >
               通报批评
            </a>
            <a class="btn btn-link aa" role="button" type="button" data-toggle="collapse" data-target="#menu01" href="zjwz_011.html" >
               诫勉谈话
            </a>
             
         </div>
        <a class="btn btn-link" href="zjwz_d2.html" role="button" type="button" data-toggle="collapse" data-target="#menu1" style="font-size:24px">
            第二种形态&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>

        </a>
        <div id="menu1" class="collapse">
         
           
               <a class="btn btn-link aa" role="button" type="button" data-toggle="collapse" data-target="#menu21" href="zjwz_012.html">
               党内警告
            </a> 
            
               <a class="btn btn-link aa" role="button" type="button" data-toggle="collapse" data-target="#menu21" href="zjwz_013.html">
               党内严重警告
            </a> 
            
               <a class="btn btn-link aa" role="button" type="button" data-toggle="collapse" data-target="#menu21" href="zjwz_014.html">
               行政警告
            </a>  
            <a class="btn btn-link aa" role="button" type="button" data-toggle="collapse" data-target="#menu21" href="zjwz_015.html">
               行政记过
            </a>
            <a class="btn btn-link aa" role="button" type="button" data-toggle="collapse" data-target="#menu21" href="zjwz_016.html">
               行政记大过
            </a>
            <a class="btn btn-link aa" role="button" type="button" data-toggle="collapse" data-target="#menu21" href="zjwz_017.html">
               行政降级
            </a>
            <a class="btn btn-link aa" role="button" type="button" data-toggle="collapse" data-target="#menu21" href="zjwz_018.html">
               停职检查
            </a>
            <a class="btn btn-link aa" role="button" type="button" data-toggle="collapse" data-target="#menu21" href="zjwz_019.html">
               调整职务岗位
            </a>
            <a class="btn btn-link aa" role="button" type="button" data-toggle="collapse" data-target="#menu21" href="zjwz_020.html">
               免职
            </a>
            <a class="btn btn-link aa" role="button" type="button" data-toggle="collapse" data-target="#menu21" href="zjwz_021.html">
               引咎辞职
            </a>
            <a class="btn btn-link aa" role="button" type="button" data-toggle="collapse" data-target="#menu21" href="zjwz_022.html">
               责令辞职
            </a>
                
           
         </div>
            
            
            <a class="btn btn-link" href="zjwz_d3.html "role="button" type="button" data-toggle="collapse" data-target="#menu2" style="font-size:24px">
            第三种形态&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>

        </a>
        <div id="menu2" class="collapse">
            <a class="btn btn-link aa" role="button" type="button" data-toggle="collapse" data-target="#menu21" href="zjwz_023.html">
                撤销党内职务
            </a>        
            <a class="btn btn-link aa" role="button" type="button" data-toggle="collapse" data-target="#menu21" href="zjwz_024.html">
                留党察看
            </a> 
            <a class="btn btn-link aa" role="button" type="button" data-toggle="collapse" data-target="#menu21" href="zjwz_025.html">
                开除党籍
            </a> 
            <a class="btn btn-link aa" role="button" type="button" data-toggle="collapse" data-target="#menu21" href="zjwz_026.html">
                行政撤职
            </a> 
            <a class="btn btn-link aa" role="button" type="button" data-toggle="collapse" data-target="#menu21" href="zjwz_027.html">
                行政开除
            </a> 
            <a class="btn btn-link aa" role="button" type="button" data-toggle="collapse" data-target="#menu21" href="zjwz_028.html">
                降职
            </a> 
            <a class="btn btn-link aa" role="button" type="button" data-toggle="collapse" data-target="#menu21" href="zjwz_029.html">
                组织除名或劝退
            </a> 
       </div> <a class="btn btn-link" href="zjwz_d4.html" role="button" type="button" data-toggle="collapse" data-target="#menu3" style="font-size:24px">
            第四种形态&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true">

        </a>
        <div id="menu3" class="collapse">
            <a class="btn btn-link aa" role="button" type="button" data-toggle="collapse" data-target="#menu31" href="zjwz_030.html">
                涉嫌违法立案审查
            </a>
            
           
       </div><a class="btn btn-link" role="button" type="button"  style="font-size:24px" href="zjwz_sjlxtj.html">
            涉及类型统计
        </a>
        <a class="btn btn-link" role="button" type="button"  style="font-size:24px" href="zjwz_xslytj.html">
            线索来源统计
        </a> 
        
        
             
        
        
        
    </div>
</div> -->
<div class="list-group">
         <a href="{:U('Zjwz/zjwz_szxttj')}"  class="list-group-item  wyBiaoti qlyx1 zfpj" style="background-color:#7ebec8">
            	四种形态统计
            </a>	
          <a href="{:U('Zjwz/zjwz_d1')}" class="list-group-item active wyBiaoti qlyx1" >
            第一种形态
          </a>
            <a class="list-group-item" href="{:U('Zjwz/zjwz_dyi',array(lx=>"谈话提醒"))}" >
               谈话提醒
            </a>  
             <a class="list-group-item" href="{:U('Zjwz/zjwz_dyi',array(lx=>"警示谈话"))}" >
               警示谈话
            </a>  
                 <a class="list-group-item" href="{:U('Zjwz/zjwz_dyi',array(lx=>"批评教育"))}">
               批评教育
            </a> 
             
            <a class="list-group-item" href="{:U('Zjwz/zjwz_dyi',array(lx=>"纠正或责令停止违纪行为"))}" >
               纠正或责令停止违纪行为
            </a>
            <a class="list-group-item" href="{:U('Zjwz/zjwz_dyi',array(lx=>"责成退缴违纪所得"))}" >
               责成退缴违纪所得
            </a>
            <a class="list-group-item" href="{:U('Zjwz/zjwz_dyi',array(lx=>"限期整改"))}" >
               限期整改
            </a>
            <a class="list-group-item" href="{:U('Zjwz/zjwz_dyi',array(lx=>"责令作出口头或书面检查"))}" >
               责令作出口头或书面检查
            </a>
            <a class="list-group-item" href="{:U('Zjwz/zjwz_dyi',array(lx=>"召开民主生活会批评帮助"))}" >
               召开民主生活会批评帮助
            </a>
            <a class="list-group-item" href="{:U('Zjwz/zjwz_dyi',array(lx=>"责令公开道歉或检讨"))}" >
               责令公开道歉或检讨
            </a>
            <a class="list-group-item" href="{:U('Zjwz/zjwz_dyi',array(lx=>"通报批评"))}" >
               通报批评
            </a>
            <a class="list-group-item" href="{:U('Zjwz/zjwz_dyi',array(lx=>"诫勉谈话"))}" >
               诫勉谈话
            </a>
          <a href="{:U('Zjwz/zjwz_d2')}" class="list-group-item wyBiaoti qlyx1" style="margin-top:12px;letter-spacing:2px;">
            第二种形态
          </a>   
          <a href="{:U('Zjwz/zjwz_d3')}" class="list-group-item wyBiaoti qlyx1" style="margin-top:12px;letter-spacing:2px;">
            第三种形态
          </a>
          <a href="{:U('Zjwz/zjwz_d4')}" class="list-group-item wyBiaoti qlyx1" style="margin-top:12px;letter-spacing:2px;">
            第四种形态
          </a>
          <a href="{:U('Zjwz/zjwz_sjlxtj')}" class="list-group-item  wyBiaoti qlyx1" style="margin-top:12px;letter-spacing:2px; background-color:#7ebec8">
           涉及类型统计
          </a>
          <a href="{:U('Zjwz/zjwz_xslytj')}" class="list-group-item  wyBiaoti qlyx1 gbpj" style="margin-top:12px;letter-spacing:2px; background-color:#7ebec8">
            线索来源统计
          </a>   
       
        </div>
        <!--
    	<div class="list-group">
        
          <a href="zjwz.html">
          <div class="row  xs">
   	        抓早抓小 
         </div></a> 
          <a href="zjwz_1.html" class="list-group-item" style="text-align:center">
            谈话提醒
          </a> 
          <a href="zjwz_2.html" class="list-group-item" style="text-align:center">
            约谈
          </a>  
          <a href="zjwz_3.html" class="list-group-item" style="text-align:center">
            函询
          </a>
          <a href="zjwz_4.html" class="list-group-item" style="text-align:center">批评教育</a>
          <a href="zjwz_5.html" class="list-group-item" style="text-align:center">诫勉谈话</a>
          <a href="zjwz_6.html" class="list-group-item" style="text-align:center">责令检查</a>
          
          <a href="zjwz_8.html" class="list-group-item" style="text-align:center">通报批评</a>
         
          <a href="zjwz_9.html" class="list-group-item" style="text-align:center">组织处理</a>
          <a href="zjwz_10.html" class="list-group-item " style="text-align:center">党纪处分</a>
          <a href="zjwz_11.html" class="list-group-item " style="text-align:center">政纪处分</a>
          <div class="row  xs" style="height:45px">
   	        
         </div>
          
      </div> -->
    
      
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 lsqk" style="padding-top:0;">
    	<div class="row ">
           <div class="col-xs-12 col-sm-7  col-lg-5  ">
                <div class="btn-group ">
                  <button type="button" class="btn btn-default">2017年</button>
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu">                  
                    <li><a href="#">2016年</a></li>
                    <li><a href="#">2015年</a></li>         
                    <li><a href="#">2014年</a></li>
                  </ul>
                </div>    
                <div class="btn-group ">
                  <button type="button" class="btn btn-default">开始月份</button>
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu">                  
                    <li><a href="#">1月</a></li>
                    <li><a href="#">2月</a></li>         
                    <li><a href="#">3月</a></li>
                  </ul>
                </div>    
                
                <div class="btn-group ">
                  <button type="button" class="btn btn-default">结束月份</button>
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">1月</a></li>
                    <li><a href="#">2月</a></li>
                    <li><a href="#">3月</a></li>         
                    <li><a href="#">4月</a></li>
                  </ul>
                </div>
         
               
           </div>
          <div class="col-xs-12 col-sm-3  col-lg-3 "  style="float:right">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="请输入关键字">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button">搜索</button>
              </span>
            </div>
          </div>
      </div>
      <p>
         	<table cellpadding="0" cellspacing="0" class="table table-striped table-hover wz " >		
		<thead>
        <tr>
        	<th colspan="12">第一种形态统计表</th>
        </tr>
		<tr>
		  <th width="8%" style=" vertical-align:middle">实施方式</th>
		  <th width="8%" style=" vertical-align:middle">提醒谈话</th>
		  <th width="8%" style=" vertical-align:middle">警示谈话</th>
		  <th width="8%" style=" vertical-align:middle">批评教育</th>
		  <th width="8%" style=" vertical-align:middle">纠正或责令停止违纪行为</th>
          <th width="8%" style=" vertical-align:middle">责成退缴违纪所得</th>
          <th width="8%" style=" vertical-align:middle">限期整改</th>
          <th width="8%" style=" vertical-align:middle">责令作出口头或书面检查</th>
          <th width="8%" style=" vertical-align:middle">召开民主生活会批评帮助</th>
          <th width="8%" style=" vertical-align:middle">责令公开道歉或检讨</th>
          <th width="8%" style=" vertical-align:middle">通报批评</th>
          <th width="8%" style=" vertical-align:middle">诫勉谈话</th>
		  </tr>
		</thead>
		<tbody>
		<tr>
		<td style="font-weight:600;text-align:center">人数</td>
		<td style="text-align:center">8</td>
        <td style="text-align:center">7</td>
        <td style="text-align:center">5</td>
        
        <td style="text-align:center">9</td>
        <td style="text-align:center">6</td>
        <td style="text-align:center">6</td>
        <td style="text-align:center">5</td>
        <td style="text-align:center">3</td>
        <td style="text-align:center">5</td>
        <td style="text-align:center">3</td>
        <td style="text-align:center">3</td>
		</tr>
		
		</tbody>
		</table>
        
         </p>
        <div class="row lsfx">
        	
            <div class="col-lg-12">
                   <h5>2017年第一种形态情况统计图<div class="btn-group pull-right">
                  <button type="button" class="btn btn-default btn-sm">2017年</button>
                  <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu">                  
                    <li><a href="#">2016年</a></li>
                    <li><a href="#">2015年</a></li>         
                    <li><a href="#">2014年</a></li>
                  </ul>
                  
            </div></h5>
            
            	
            <img src="__PUBLIC__/images/zhuzhuangtu.jpg"  alt="" class="img-responsive" />
             </div>
	  </div>
      
           
  </div>
  </div>
    </div>
  </div>   
</div>
  <!--  ------------------------------页脚--------------------------------------------------  -->


