<!-----------------------------------------modal------------------------------------------------------->
  <div class="modal fade" tabindex="-1" role="dialog" id="sqjk">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">四权监控</h4>
      </div>
      <div class="modal-body">
      	<h5>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="yfqq">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">依法确权</h4>
      </div>
      <div class="modal-body">
      	<h5>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="gfpq">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">规范配权</h4>
      </div>
      <div class="modal-body">
      	<h5>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="ygsq">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">阳光晒权</h4>
      </div>
      <div class="modal-body">
      	<h5>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="qckq">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">全程控权</h4>
      </div>
      <div class="modal-body">
      	<h5>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
 <!-------------------------------------------------------------------------------------------------------------> 
  <div class="modal fade" tabindex="-1" role="dialog" id="lc1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">研提方案</h4>
      </div>
      <div class="modal-body">
       <h5>风险点</h5>
         <p>存在利用工程建设、物资采购谋取私利的风险</p>
       <h5>防控措施</h5>
          <p>严格执行廉洁自律各项规定，不以权谋私，不接受可能影响工作开展的宴请、财务或礼金</p>
          <h5>监督主体</h5>
          <p>分管领导</p>
          <h5>追责主体</h5>
          <p>支队纪委</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
 <!-----------------------------------------modal------------------------------------------------------->
  <div class="modal fade" tabindex="-1" role="dialog" id="gbpy">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">官兵评议</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label"><span class="red">*</span>姓名：</label>
    <div class="col-sm-9">
      <input type="text" class="form-control"  placeholder="">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-3 control-label"><span class="red">*</span>身份证/警官证：</label>
    <div class="col-sm-9">
      <input type="text" class="form-control"  placeholder="">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-3 control-label">电话：</label>
    <div class="col-sm-9">
      <input type="text" class="form-control"  placeholder="">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-3 control-label">内容：</label>
    <div class="col-sm-9">
     <textarea class="form-control" rows="3" placeholder=""></textarea>
    </div>
  </div>
  </form>
  
      </div>
      <div class="modal-footer">
       <button type="button" class="btn btn-success" data-dismiss="modal">提交</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
  <!-----------------------------------------modal------------------------------------------------------->
  <div class="modal fade" tabindex="-1" role="dialog" id="gbpy1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">官兵评议</h4>
      </div>
      <div class="modal-body">
      	<h5>感谢您的评议！</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
 <!------------------------------------------------------------------------------------------------------------->
<ol class="breadcrumb">
   
    <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span> <a href="index.html">首页</a></li>     
    <li class="active">权力公开</li> 
    
    
</ol>
<div class="container">
 <h1 class="header">权力监控</h1>
 <div class="row lvsiq">
    <span class="label label-danger wyKuai wyKuai1" data-toggle="modal" data-target="#sqjk">四权监控</span>
    <span class="label label-success wyKuai" data-toggle="modal" data-target="#yfqq">依法确权</span>
    <span class="label label-info wyKuai" data-toggle="modal" data-target="#gfpq">规范配权</span>
    <span class="label label-warning wyKuai" data-toggle="modal" data-target="#ygsq">阳光晒权</span>
    <span class="label label-primary wyKuai wyRight" data-toggle="modal" data-target="#qckq">全程控权</span>
 </div>
  <div class="row">
  	<div class="col-md-4 col-lg-3 menu">
    	
        <div class="list-group">
         <a href="ql_jgt_zzd.html" target="_blank" class="list-group-item wyBiaoti qlyx1 zfpj" style="background-color:#7ebec8">
            	支队组织架构
            </a>
          <a href="qlyx.html" class="list-group-item qlyx1">领导岗位权力</a>
           <a href="qlyx_slbzt.html" class="list-group-item qlyx1">部门岗位权力</a>
           <a href="qlyx_lc.html" class="list-group-item active qlyx1">权力运行流程</a>
          <a href="qlyx_jk.html" class="list-group-item  qlyx1">权力运行监控</a>            
         
         
        </div>
       
        
       
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 ztzr">
    <div class="row tabtitle">
    <ul class="nav nav-tabs ">
              <li class="active"><a href="#slb" data-toggle="tab">司令部</a></li>
              <li><a href="#zzb" data-toggle="tab">政治处</a></li>
               <li><a href="#hqb" data-toggle="tab">后勤处</a></li>
                <li><a href="#fhb" data-toggle="tab">防火处</a></li>
                  
            </ul>    
            <div class="tab-content">
           <!----------------------------------------------------司令部------------------------------------------------------->
              <div class="tab-pane fade in active" id="slb">
    	<div class="row ztlist">
        
        	<h2>岗位权力流程清单</h2>
            <ul class="list-inline">
            	<li><a href="qlyx_lc.html" class="now"> 士官选取</a></li>
                <li><a href="qlyx_lczqzdzxb.html" > 执勤中队长助理选拔</a></li>
                <li><a href="qlyx_lcsbbc.html" > 士兵补充</a></li>
                <li><a href="#" > 士兵证件管理</a></li>
                <li><a href="#" > 士兵警衔管理</a></li>
                <li><a href="#" > 士官休假</a></li>
                <li><a href="#" > 班长任命</a></li>
                <li><a href="#" > 士兵退役</a></li>
                <li><a href="#" > 士官学校招生推报工作</a></li>
                <li><a href="#" > 兵员调动</a></li>
                <li><a href="#" > 战训考核</a></li>
                <li><a href="#" > 训练指导</a></li>
                <li><a href="#" > 印章使用</a></li>
                <li><a href="#" > 保密管理 </a></li>
                <li><a href="#" > 公文审批</a></li>
                <li><a href="#" > 公务用车管理</a></li>
                <li><a href="#" > 公务接待工作</a></li>
                <li><a href="#" > 信息通信网络、资源管理</a></li>
                <li><a href="#" > 作战指挥调度</a></li>
                <li><a href="#" > 信息报送</a></li>
                
            </ul>
        </div>
        <div class="row lsfx zz" >
        	
                
        	<h2>士官选取运行流程</h2>
               <!-- <ul class="list-inline">
            	<li class="kk">行政执法 </li>
                <li><img src="images/lc.png" width="30" height="30" align="absmiddle"> <a href="#lc1" data-toggle="modal">受案分工 </a></li>
                <li><img src="images/lc.png" width="30" height="30" align="absmiddle"> <a href="#">调查取证 </a></li>
                <li><img src="images/lc.png" width="30" height="30" align="absmiddle"> <a href="#">听证审批 </a></li>
                <li style="background-image:none"><img src="images/lc.png" width="30" height="30" align="absmiddle"> <a href="#">处罚决定 </a></li>
             
            </ul>-->
            <div class="col-lg-12">
             <img src="images/lc1.png"  alt="" class="img-responsive" /> 

            </div> 
           
        </div>
     </div>
 
 <!------------------------------------------------政治部-------------------------------------------------->
        <div class="tab-pane fade in " id="zzb">
    	<div class="row ztlist">
        
        	<h2>岗位权力流程清单</h2>
            <ul class="list-inline">
            	

                    
                   
                   
                   
                   
                   <li><a href="qlyx_lcgbkh.html" class="now"> 干部考核</a></li>
                   <li><a href="qlyx_lcjlgz.html" > 奖励工作</a></li>
                   <li><a href="qlyx_lcdyfz.html" > 党员发展工作</a></li>
                   
                   <li><a href="#" > 常委会工作</a></li>
                <li><a href="#" > 党委常委民主生活会工作</a></li>
                <li><a href="#" > 党委中心组学习工作</a></li>
                <li><a href="#" > 党费收缴</a></li>
                <li><a href="#" > 党费使用</a></li>
                <li><a href="#" > 发展团员</a></li>
                <li><a href="#" > 结婚管理工作</a></li>
                <li><a href="#" > 离婚管理工作</a></li>
                <li><a href="#" > 评比表彰工作</a></li>
                <li><a href="#" > 革命烈士的申报</a></li>
                <li><a href="#" > 因公牺牲军人确认、抚恤工作</a></li>
                <li><a href="#" > 病故军人的确认</a></li>
                <li><a href="#" > 申请生育第一个子女</a></li>
                <li><a href="#" > 官兵申请再生育子女</a></li>
                <li><a href="#" > 考核与考试相结合选拔团职领导干部</a></li>
                <li><a href="#" > 干部选拔任用</a></li>
                <li><a href="#" > 学员定职定级</a></li>
                <li><a href="#" > 警衔授予和警衔晋升</a></li>
                <li><a href="#" > 专业技术资格评审</a></li>
                <li><a href="#" > 专业技术干部考评工作</a></li>
                <li><a href="#" > 专业技术职务任免</a></li>
                <li><a href="#" > 专业技术等级调整和改套工作</a></li>
                <li><a href="#" > 专业技术干部奖励津贴</a></li>
                <li><a href="#" > 部队院校招收士兵学员</a></li>
                <li><a href="#" > 选拔优秀士兵保送入学</a></li>
                <li><a href="#" > 学员分配</a></li>
                <li><a href="#" > 干部调动（总队内部干部调动工作）</a></li>
                <li><a href="#" > 离退休干部管理</a></li>
                <li><a href="#" > 干部转业复员</a></li>
                <li><a href="#" > 干部休假、探亲</a></li>
                <li><a href="#" > 军人家属随军</a></li>
                <li><a href="#" > 干部随军家属未就业期间社会保险待遇</a></li>
                <li><a href="#" > 干部子女保育教育补助费</a></li>
                <li><a href="#" > 因公出国出境</a></li>
                <li><a href="#" > 因私出国出境</a></li>
                <li><a href="#" > 干部档案管理</a></li>
                <li><a href="#" > 干部证件管理</a></li>
                <li><a href="#" > 案件检查</a></li>
                <li><a href="#" > 案件审理</a></li>
                <li><a href="#" > 执法监督</a></li>
                <li><a href="#" > 选人用人监督</a></li>
                <li><a href="#" > 领导干部监督</a></li>
                <li><a href="#" > 督察工作</a></li>
                <li><a href="#" > 审计工作</a></li>
                <li><a href="#" > 信访工作</a></li>
                <li><a href="#" > 党纪处分</a></li>
                <li><a href="#" > 政纪处分</a></li>
                
                
               
            </ul>
        </div>
        <div class="row lsfx zz" >
        	
                
        	<h2>干部考核运行流程</h2>
               <!-- <ul class="list-inline">
            	<li class="kk">行政执法 </li>
                <li><img src="images/lc.png" width="30" height="30" align="absmiddle"> <a href="#lc1" data-toggle="modal">受案分工 </a></li>
                <li><img src="images/lc.png" width="30" height="30" align="absmiddle"> <a href="#">调查取证 </a></li>
                <li><img src="images/lc.png" width="30" height="30" align="absmiddle"> <a href="#">听证审批 </a></li>
                <li style="background-image:none"><img src="images/lc.png" width="30" height="30" align="absmiddle"> <a href="#">处罚决定 </a></li>
             
            </ul>-->
            <div class="col-lg-12">
             <img src="images/lc_gbkh.png"  alt="" class="img-responsive" /> 

            </div> 
           
        </div>
     </div>
      <!------------------------------------------------后勤部-------------------------------------------------->
        <div class="tab-pane fade in " id="hqb">
    	<div class="row ztlist">
        
        	<h2>岗位权力流程清单</h2>
            <ul class="list-inline">
            	<li><a href="qlyx_lccggz.html" class="now"> 采购工作</a></li>              
                
                <li><a href="qlyx_lczjkzsp.html" > 直接开支审批</a></li>
                <li><a href="qlyx_lcjdjfsp.html" > 机动经费审批</a></li>
                <li><a href="#" > 基本建设项目支出审批</a></li>
                <li><a href="#" > 装备物资采购支出审批</a></li>
                <li><a href="#" > 特支费支出审批</a></li>
                <li><a href="#" > 经费核算</a></li>
                <li><a href="#" > 银行账户设立及资金管理</a></li>
                <li><a href="#" > 现金存取及管理</a></li>
                <li><a href="#" > 资产处置审批</a></li>
                <li><a href="#" > 资产管理</a></li>
                <li><a href="#" > 伙食、粮秣管理</a></li>
                <li><a href="#" > 被服管理</a></li>
                <li><a href="#" > 驾驶员培训和驾驶证审批</a></li>
                <li><a href="#" > 装备技师编配</a></li>
                <li><a href="#" > 车辆装备维修</a></li>
                <li><a href="#" > 油料管理</a></li>
                <li><a href="#" > 残疾等级评定</a></li>
                <li><a href="#" > 外诊审批</a></li>
                <li><a href="#" > 医药费审批报销</a></li>
               
            </ul>
        </div>
        <div class="row lsfx zz" >
        	
                
        	<h2>采购工作运行流程</h2>
               <!-- <ul class="list-inline">
            	<li class="kk">行政执法 </li>
                <li><img src="images/lc.png" width="30" height="30" align="absmiddle"> <a href="#lc1" data-toggle="modal">受案分工 </a></li>
                <li><img src="images/lc.png" width="30" height="30" align="absmiddle"> <a href="#">调查取证 </a></li>
                <li><img src="images/lc.png" width="30" height="30" align="absmiddle"> <a href="#">听证审批 </a></li>
                <li style="background-image:none"><img src="images/lc.png" width="30" height="30" align="absmiddle"> <a href="#">处罚决定 </a></li>
             
            </ul>-->
            <div class="col-lg-12">
             <img src="images/lc12.png"  alt="" class="img-responsive" /> 

            </div> 
           
        </div>
     </div>
     <!------------------------------------------------防火部-------------------------------------------------->
        <div class="tab-pane fade in " id="fhb">
    	<div class="row ztlist">
        
        	<h2>岗位权力流程清单</h2>
            <ul class="list-inline fh">

                 
                 
                 <li><a href="qlyx_lcjsgcxfsj.html" class="now"> 建设工程消防设计审核</a></li>
                 <li><a href="qlyx_lchzjdcx.html" > 火灾事故调查简易程序</a></li>
               <li><a href="qlyx_lchzybcx.html" > 火灾事故调查一般程序</a></li>
                <li><a href="#" > 公众聚集场所投入使用、营业前消防安全检查</a></li>
                <li><a href="#" > 消防监督检查</a></li>
                <li><a href="#" > 建设工程消防设计备案</a></li>
                <li><a href="#" > 建设工程竣工验收消防备案</a></li>
                
                <li><a href="#" > 建设工程消防验收</a></li>

                <li><a href="#" > 火灾事故认定复核</a></li>
                <li><a href="#" > 消防产品监督管理</a></li>
                <li><a href="#" > 行政处罚</a></li>
                <li><a href="#" > 对大型群众性活动举办前的消防安全检查</a></li>
                <li><a href="#" > 对举报投诉的消防安全违法行为的核查</a></li>
                <li><a href="#" > 执法质量考评</a></li>
                <li><a href="#" > 案卷审核</a></li>
                <li><a href="#" > 执法过错责任追究</a></li>
                
            </ul>
        </div>
        <div class="row lsfx zz" >
        	
                
        	<h2>建设工程消防设计审核运行流程</h2>
               <!-- <ul class="list-inline">
            	<li class="kk">行政执法 </li>
                <li><img src="images/lc.png" width="30" height="30" align="absmiddle"> <a href="#lc1" data-toggle="modal">受案分工 </a></li>
                <li><img src="images/lc.png" width="30" height="30" align="absmiddle"> <a href="#">调查取证 </a></li>
                <li><img src="images/lc.png" width="30" height="30" align="absmiddle"> <a href="#">听证审批 </a></li>
                <li style="background-image:none"><img src="images/lc.png" width="30" height="30" align="absmiddle"> <a href="#">处罚决定 </a></li>
             
            </ul>-->
            <div class="col-lg-12">
             <img src="images/lc14.png"  alt="" class="img-responsive" /> 

            </div> 
           
        </div>
     </div>
     <!------------------------------------------------------------------------------------------------------------------------------------------->
     </div>
     </div>
     </div> 
     </div> 
</div>