  <!-----------------------------------------modal------------------------------------------------------->
  <div class="modal fade" tabindex="-1" role="dialog" id="lc1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">研提方案</h4>
      </div>
      <div class="modal-body">
       <h5>风险点</h5>
         <p>存在利用工程建设、物资采购谋取私利的风险</p>
       <h5>防控措施</h5>
          <p>严格执行廉洁自律各项规定，不以权谋私，不接受可能影响工作开展的宴请、财务或礼金</p>
          <h5>监督主体</h5>
          <p>分管领导</p>
          <h5>追责主体</h5>
          <p>支队纪委</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
 <!-----------------------------------------modal------------------------------------------------------->
  <div class="modal fade" tabindex="-1" role="dialog" id="gbpy">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">官兵评议</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label"><span class="red" >*</span>姓名：</label>
    <div class="col-sm-9">
      <input type="text" class="form-control"  placeholder="">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-3 control-label"><span class="red" >*</span>身份证/警官证：</label>
    <div class="col-sm-9">
      <input type="text" class="form-control"  placeholder="">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-3 control-label">电话：</label>
    <div class="col-sm-9">
      <input type="text" class="form-control"  placeholder="">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-3 control-label">内容：</label>
    <div class="col-sm-9">
     <textarea class="form-control" rows="3" placeholder=""></textarea>
    </div>
  </div>
  </form>
  
      </div>
      <div class="modal-footer">
       <button type="button" class="btn btn-success" data-dismiss="modal">提交</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<!-----------------------------------------modal------------------------------------------------------->
  <div class="modal fade" tabindex="-1" role="dialog" id="sqjk">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">四权监控</h4>
      </div>
      <div class="modal-body">
      	<h5>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="yfqq">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">依法确权</h4>
      </div>
      <div class="modal-body">
      	<h5>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="gfpq">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">规范配权</h4>
      </div>
      <div class="modal-body">
      	<h5>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="ygsq">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">阳光晒权</h4>
      </div>
      <div class="modal-body">
      	<h5>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="qckq">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">全程控权</h4>
      </div>
      <div class="modal-body">
      	<h5>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
 <!-------------------------------------------------------------------------------------------------------------> 
  <!-----------------------------------------modal------------------------------------------------------->
  <div class="modal fade" tabindex="-1" role="dialog" id="gbpy1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">官兵评议</h4>
      </div>
      <div class="modal-body">
      	<h5>感谢您的评议！</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
 <!-------------------------------------------------------------------------------------------------------------> 
    <ol class="breadcrumb"> 
   
    <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span> <a href="index.html">首页</a></li>     
    <li class="active">权力监控</li> 
    
    
</ol>
<div class="container">
 <h1 class="header">权力监控</h1>
 <div class="row lvsiq">
    <span class="label label-danger wyKuai wyKuai1" data-toggle="modal" data-target="#sqjk">四权监控</span>
    <span class="label label-success wyKuai" data-toggle="modal" data-target="#yfqq">依法确权</span>
    <span class="label label-info wyKuai" data-toggle="modal" data-target="#gfpq">规范配权</span>
    <span class="label label-warning wyKuai" data-toggle="modal" data-target="#ygsq">阳光晒权</span>
    <span class="label label-primary wyKuai wyRight" data-toggle="modal" data-target="#qckq">全程控权</span>
 </div>
  <div class="row">
  	<div class="col-md-4 col-lg-3 menu">
    	
        <div class="list-group">
         <a href="__URL__/ql_jgt_zzd" target="_blank" class="list-group-item wyBiaoti qlyx1 zfpj" style="background-color:#7ebec8">
            	支队组织架构
         </a>
          <a href="{:U('Qlyx/qlyx')}" class="list-group-item active qlyx1">领导岗位权力</a>
          <a href="{:U('Qlyx/qlyx_slbzt')}" class="list-group-item qlyx1">部门岗位权力</a>
          <a href="{:U('Qlyx/qlyx_lc')}" class="list-group-item qlyx1">权力运行流程</a>
          <a href="{:U('Qlyx/qlyx_jk')}" class="list-group-item qlyx1">权力运行监控</a>
        </div>
       
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 ztzr">
    	<div class="row ztlist">
        	<h2>领导岗位权力清单</h2>
            <ul class="list-inline">
            	<volist name="lpostions" id="vo">
                <li>
                    <if condition="$who eq $vo['id']">
                    <a href="{:U('Qlyx/qlyx',array('who'=>$vo['id']),'')}" class="now">{$vo.duty}{$vo.name}<input type="hidden" value="{$vo['id']}"/></a>
                <else />
                    <a href="{:U('Qlyx/qlyx',array('who'=>$vo['id']),'')}">{$vo.duty}{$vo.name}<input type="hidden" value="{$vo['id']}"/></a>
                </if>
                </li>
                </volist>
            </ul>
        </div>
        <div class="row lsfx">
        	<h2>{$lpostion['duty']}{$lpostion['name']}主要职责清单</h2>
            {$lpostion['dutys']}
        </div>
        <div class="row lsfx">
            <h2> 风险清单</h2>
            {$lpostion['risks']}
        </div>
        <div class="row lsfx">
            <h2> 风险等级</h2>
            <p>{$lpostion['rlevel']}</p>
        </div>
        <div class="row lsfx">
        	<h2> 防控清单</h2>
            {$lpostion['controls']}
        </div>
          
     
    </div>
  </div>   
</div>
 

